{% extends "base.html" %}


{% block title %}
    Give Feedback
{% endblock %}

{% block content %}
    <h1>post your feedback</h1>

<form method="POST">

    {{ form.hidden_tag() }}
    
    {% for field in form if field.widget.input_type != "hidden" %}
    
    <p>
        {{ field.label }}
        {{ field }}
    
        {% for error in field.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}
    
    <button type="submit">Submit</button>

    {% endblock %}